/*Style for control bar section*/

.control-bar-section{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    align-items: end;
    margin-top: 1rem;
}

.ssb-input.file-path-input{
    max-width: 1100px;
}

.ssb-btn.secondary-btn.file-open-button,.ssb-btn.secondary-btn.file-save-button{
    margin-top: 1.5rem;
}

.ssb-tabs {
    width: 100%;
    border-bottom: 2px solid #274247;
    margin-top: 1rem;
}

.ssb-tabs .dash-tabs-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 2px solid #274247;
}

.workspace-tab{
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: inherit;
    font-family: "Roboto", sans-serif !important;
    font-stretch: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.25;
    outline: none;
    padding: 10px 0.5rem 20px 0.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.2s;
    width: auto;
    min-width: max-content;
    flex: 0 0 auto;
}

.workspace-tab:first-child {
    padding-left: 0;
}

.workspace-tab:not(:last-of-type){
  margin-right: 1rem;
}

.ssb-tabs > .workspace-tab:last-of-type{
  border: unset;
}
.workspace-tab::before{
  background: #274247;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 0.5rem;
  right: 0.5rem;
  position: absolute;
  transition: all 0.2s;
  width: auto;
}

.workspace-tab:first-child::before {
    left: 0;
    right: 0.5rem;
}

.workspace-tab:hover::before{
  height: 4px;
}
.workspace-tab:focus::before{
  height: 4px;
}
.ssb-tabs > .workspace-tab.tab--selected,
.ssb-tabs > .workspace-tab.dash-tab--selected {
    border-bottom: none !important;
    border-top: none !important;
}

.ssb-tabs > .workspace-tab.tab--selected::before,
.ssb-tabs > .workspace-tab.dash-tab--selected::before {
    background: #1a9d49;
    height: 4px;
}

.ssb-tabs > .workspace-tab.tab--selected:hover::before,
.ssb-tabs > .workspace-tab.dash-tab--selected:hover::before {
  height: 4px;
}
@media screen and (min-width: 800px){
    .ssb-tabs > .workspace-tab.tab--selected,
    .ssb-tabs > .workspace-tab.dash-tab--selected,
    .workspace-tab:last-of-type.tab--selected,
    .workspace-tab:last-of-type.dash-tab--selected {
        border: none !important;
    }
    .ssb-tabs > .workspace-tab.tab--selected::before,
    .ssb-tabs > .workspace-tab.dash-tab--selected::before {
        background: #1a9d49;
        height: 4px;
        left: 0.5rem;
        right: 0.5rem;
        width: auto;
    }
    .ssb-tabs > .workspace-tab.tab--selected:first-child::before,
    .ssb-tabs > .workspace-tab.dash-tab--selected:first-child::before {
        left: 0;
        right: 0.5rem;
    }
}

#alerts-section{
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  width: 100%;
}

#alerts-section > div.fade.ssb-alert.alert.alert-warning.alert-dismissible.show {
  border: 6px solid #ffecb5;

}
#alerts-section > div.fade.ssb-alert.alert.alert-warning.alert-dismissible.show > .alert_link{
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
#alerts-section > div.fade.ssb-alert.alert.alert-success.alert-dismissible.show{
  border: 6px solid #badbcc;
}

#alerts-section > div.fade.ssb-alert.alert.alert-warning.alert-dismissible.show > .alert_list{
  margin: 0;
  margin-top: 1rem;
}

.button-section{
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 1200px) {
  .control-bar-section{
    flex-wrap: wrap;
  }
}
