/*Style for control bar section*/

.control-bar-section{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    align-items: end;
    margin-top: 1rem;
}

.ssb-input.file-path-input{
    max-width: 1100px;
}

.ssb-btn.secondary-btn.file-open-button,.ssb-btn.secondary-btn.file-save-button{
    margin-top: 1.5rem;
}

:root {
    --ssb-green: #1a9d49;
    --ssb-dark: #274247;
    --tab-gap: 1rem;
    --tab-hpadding: 0.5rem;
    --tab-vpadding-top: 10px;
    --tab-vpadding-bottom: 20px;
}

.ssb-tabs {
    width: 100%;
    border-bottom: 2px solid var(--ssb-dark);
    margin-top: 1rem;
}

.ssb-tabs .dash-tabs-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 2px solid var(--ssb-dark);
}

.workspace-tab {
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: inherit;
    font-family: "Roboto", sans-serif !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.25;
    padding: var(--tab-vpadding-top) var(--tab-hpadding) var(--tab-vpadding-bottom) var(--tab-hpadding);
    position: relative;
    text-decoration: none;
    transition: background 0.2s;
    width: auto;
    min-width: max-content;
    flex: 0 0 auto;
}

.workspace-tab:first-child {
    padding-left: 0;
}

.workspace-tab:not(:last-of-type) {
    margin-right: var(--tab-gap);
}

.ssb-tabs > .workspace-tab:last-of-type {
    border: unset;
}

.workspace-tab::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--tab-hpadding);
    right: var(--tab-hpadding);
    height: 0;
    background: var(--ssb-dark);
    transition: all 0.2s;
}

.workspace-tab:first-child::before {
    left: 0;
}

.workspace-tab:hover::before,
.workspace-tab:focus::before {
    height: 4px;
}

.ssb-tabs .workspace-tab.tab--selected,
.ssb-tabs .workspace-tab.dash-tab--selected {
    border: none !important;
}

.ssb-tabs .workspace-tab.tab--selected::before,
.ssb-tabs .workspace-tab.dash-tab--selected::before {
    background: var(--ssb-green) !important;
    height: 4px;
}

.ssb-tabs .workspace-tab.tab--selected:hover::before,
.ssb-tabs .workspace-tab.dash-tab--selected:hover::before {
    height: 4px;
}

.ssb-title.workspace-tab-title {
    margin-top: 1rem;
}


#alerts-section{
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  width: 100%;
}

#alerts-section > div.fade.ssb-alert.alert.alert-warning.alert-dismissible.show {
  border: 6px solid #ffecb5;

}
#alerts-section > div.fade.ssb-alert.alert.alert-warning.alert-dismissible.show > .alert_link{
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
#alerts-section > div.fade.ssb-alert.alert.alert-success.alert-dismissible.show{
  border: 6px solid #badbcc;
}

#alerts-section > div.fade.ssb-alert.alert.alert-warning.alert-dismissible.show > .alert_list{
  margin: 0;
  margin-top: 1rem;
}

.button-section{
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 1200px) {
  .control-bar-section{
    flex-wrap: wrap;
  }
}
