.ssb-accordion.global-variable-accordion {
    margin: 0;
    padding: 0;
}

.ssb-accordion.global-variable-accordion > .accordion-header {
    border: 2px solid #C3DCDC;
    background-color: #C3DCDC;
}

.ssb-accordion.global-variable-accordion > .accordion-body {
    padding: 1rem;
}
.global-edit-section{
    display: flex;
    flex-direction: column;
}

.global-edit-section-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}
.global-edit-section-form > .ssb-paragraph .global-information-paragraph{
    width: 100%;
    max-width: unset;
}

#global-variables{
    width: 100%;
}

.ssb-btn.secondary-btn.global-button{
    max-width: 150px;
}

.global-edit-section > .global-section-header{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.global-section-header > .global-header-buttons{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.global-information-list{
    margin-left: 0.5rem;
}

.global-section-header > .ssb-paragraph.global-information-paragraph{
    width: 100%;
    max-width: unset;
}

.global-edit-section-form > .ssb-dropdown.global-dropdown-component, .ssb-input.global-input-component{
    max-width: 48%;
    width: 100%;
}

@media  (max-width: 960px) {
    .global-edit-section-form > .ssb-dropdown.global-dropdown-component, .ssb-input.global-input-component{
            max-width: unset;
    }
}
