/*Style for input components and checkbox components*/


.ssb-input.input-component input[readonly]{
    border: 1px solid #274247 !important;
    outline: unset !important;
    outline-offset: unset !important;
}

.ssb-input.input-component input[readonly]:focus{
    border: 1px solid #274247 !important;
    outline: unset !important;
    outline-offset: unset !important;
}

.ssb-input.input-component input[readonly]:hover{
    border: 1px solid #274247 !important;
    outline: unset !important;
    outline-offset: unset !important;
}

.ssb-input.input-component{
    max-width: unset;
    margin: 0;
}

.ssb-input-label{
    margin-bottom: 0;
}
div > .ssb-input.input-component{
    margin: 0;
}

#dataset-metadata-input-Maskingenerert > .ssb-input.input-component,
#pseudo-metadata-input-left-pseudo > .ssb-input.input-component,
#variables-metadata-input-left-machine > .ssb-input.input-component{
    max-width: 720px;
    width: 100%;
}

#pseudo-metadata-input-left-pseudo > .ssb-input.input-component,
#variables-metadata-input-left-machine > .ssb-input.input-component{
    padding: 0;
}

.metadata-checkbox-field{
    width: 100%;
}

.form-check.ssb-checkbox{
    align-self: center;
}

.form-check{
    padding-left: 0;
}

label.form-check-label{
    padding-left: 1rem;
    font-size: 1.2rem;
}

#input_version-dataset-metadata-input{
    margin-right: 1rem;
}



@media only screen and (max-width: 1900px) {
    #variables-metadata-input-left-machine > .ssb-input.input-component,
    #pseudo-metadata-input-left-pseudo > .ssb-input.input-component,
    #dataset-metadata-input-Maskingenerert > .ssb-input.input-component {
        max-width: 46%;
    }
}
