/*Style for multilanguage fields*/

.multilanguage-fieldset {
    border: 1px solid #274247;
    outline: #274247;
    padding: 1rem;
    width: 100%;
    position: relative;
    margin: 1.5rem 1rem 0 0;
}

.multilanguage-legend {
    width: fit-content;
    font-size: 1rem;
}

.multilanguage-fieldset:focus {
    border: 1px solid #00824d;
    outline: 1px solid #00824d;
    outline-offset: 0;
}

.multilanguage-fieldset:hover {
    border: 1px solid #00824d;
    outline: 1px solid #00824d;
    outline-offset: 0;
}

.ssb-input.multilanguage-input-component {
    max-width: unset;
    width: 100%;
}
