/*Style for tabs*/

.ssb-tabs .workspace-tab{
    margin: 0;
    margin-right: 1rem;
    font-size: 1rem;
}

.workspace-tab{
    padding: 10px 0.5rem 20px 0.5rem;
}

.workspace-tab:first-child {
    padding-left: 0;
}

.ssb-title.workspace-tab-title{
    margin-top: 1rem;
}
